{% extends "auctions/layout.html" %}

{% block body %}

<h1> Add New Listing </h1>

<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <textarea autofocus class="form-control" name="description" rows="4" columns="5" placeholder="Description"></textarea> 
    </div> 
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="photo" placeholder="Photo URL">
    </div>
    <div class="form-group">
        <input autofocus class="form-control" type="number" name="price" placeholder="Starting Bid">
    </div>
    <div class="form-group">
        <label for="category">Choose a category</label>
        <select autofocus class="form-control" name="category" id="category" placeholder="Category">
            <option default="true">None</option>
            <option> Household </option>
            <option> Electronics </option>
            <option> Toys </option>
        </select>
    </div>
        <input class="btn btn-primary" type="submit">   
</form>
{% endblock %}